/* Contador */
.contador {
    font-size: 4em;
}

/* Clases para los valores del contador */

.negativo {
    color: red;
}

.positivo {
    color: green;
}

.neutral {
    color: #000;
}

/* Seccion vueltas estilos */

.vueltas-seccion {
    margin-top: 3em;
    background-color: rgb(189, 148, 148);
    padding: 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vueltas-seccion ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0.2em !important;
    margin: 0 auto !important;
    gap: 2em;
}

.vueltas-seccion ul li {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.notaVuelta {
    position: absolute;
    top: -20px;
    right: -150px;
    display: none;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-box-shadow: 13px 10px 32px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 13px 10px 32px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 13px 10px 32px 0px rgba(0, 0, 0, 0.4);
}

.bodyColorNew {
    background-color: #d50000 !important;
    color: #fff;
}
